body {
    max-width: 1200px;
    height: 300px;
    margin: 70px auto 0;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: black; 
    background-repeat: no-repeat;
    margin-top: 50px;
    line-height: 1.5;
    text-align: justify;
  
    
    
    
}


nav{
       height: 20px;
       display:inline;
       margin: 730px;
       color: white;
       image-rendering: 
       font-family: helvetica;
        padding-bottom: 20px;
}

.logo img{
    float: left;
    margin: auto;
    width: 180px;
    height: 180px;
 
    border: solid 08px white;

}

section{
    text-align: cener;
}


 a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: auto;
    margin-right: 20px;
    font-style: bold;
}


a:hover{
    color: #8A2BE2;
    font-size: 15px;
}


h2{
    border-top: solid 2px #aeacb1;
    margin-top: 60px;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-align: right;
    font-size: 60px;

}

h3{
  margin-left: 60px;
  color: white;
  font-size: 30px;
}

h4{
    color: white;
    font-size: 30px;
    margin-top: -10px;    
    margin-bottom: -10px;
}

section{
    text-align: center;
    margin-top:0;
    padding-top: 50px;
    text-transform: uppercase;
}


p{

    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    font-size: 15px;
    text-align: justify;
}

.final{
    
    border-radius: 15px;
}

footer{
    width: auto;
    height: 60px;
    margin-top: 50px;
    border: 2px solid red;
}

.icone {
    /* width: 50px;
    height: 50px; */
    display: flex;
    border: green 2px solid;
    margin: 70px;
    font-size: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    /* position: relative; */
    border: red 3px solid;
    
}

article {
    border: blue solid 2px;
}


.designer {
    border: yellow solid 2px;
    margin-bottom: -50px;
}

article {
    margin: 20px;
}

.projeto{
    border: red solid 2px;
    display: flex;
    margin-left: 15px;
}

.pj{
    border: blue solid 3px;
    margin-left: 10px;
    text-align: justify;
}

.casamento {
    border: red solid 2px;
    display: flex;
    margin-left: 15px;
}

.pj2 {
    border: blue solid 3px;
    margin-right: 10px;
    text-align: justify;
}